.card{
    max-width: 400px;
    margin-left:auto;
    margin-right: auto;
    transform: translateY(-25%);
}
.forms{
    width: 360px;
    padding: 0px 16px;
    
}
.formsinput{
    
}
.login-button{
    float: right;
}